<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <%- include('partials/header') %>

<form method="POST" action="/result">
    <input type="text" name="name" placeholder="Enter name" required>
    <select name="book"> 
        <option value= "fiction">Fiction</option>
        <option value= "mystery">Mystery</option>
        <option value= "science">Science</option>
        <option value = "fantasy">Fantasy</option>
    </select>
    <button type="submit">Submit</button>
</form>

<%- include('partials/footer') %>
</body>
</html>